<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <span class="login100-form-title p-b-49">
        {{page_title}}
    </span>
    <div class="txt1 text-center p-t-20 p-b-20">
        <span>
            {{message}}
        </span>
    </div>
</div>